body{
    background-color: rgba(241, 193, 34, 0.829)
    ;
    }

.container{
    height: 80%;
    width: 25%;
    border: solid black 0.1px;
    border-radius: 10px;
    border-bottom: 6px solid black;
    border-right: 6px solid black;
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 4%;
    margin-left: 36%;
    transition: .1s ease;
}
.container:hover{
    transform: scale(1.1);
}

.container button{
    background-color: rgba(241, 193, 34, 0.829);
    border: solid rgba(241, 193, 34, 0.829);
    border-radius: 6px;
    margin-top: 10px;
    transition: .5s ease;

}
button:hover{
    transform: scale(1.2);
}

.container p{
    color: grey;
}


.container .p2 p{
    color: black;
    font-weight: bolder;
    display: inline-flexbox;
}